environment: development
port: 8080
cors_allowed_origins:
  - "*"
log_channels:
  - "stdout"
geo_ip_file_name: GeoLite2-City.mmdb
database:
  host: postgres
  port: 5432
  username: admin
  password: pass
  database_name: db
google:
  oauth:
    client_id: your_google_client_id
    client_secret: your_google_client_secret
    redirect_uri: http://localhost:3000/auth/google-callbacks
debug: true
timezone: Asia/Jakarta
